.fm-box{
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1300;
}

.fm-wrap{
    background-color: rgba(255,255,255,.75);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.fm-window{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 16px 16px -10px rgb(34 47 62 / 15%), 0 0 40px 1px rgb(34 47 62 / 15%);
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 600px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top:50%;
    padding: 0 15px;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
    width: 95vw;
    z-index: 2;
}

.fm-header{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    user-select: none;
}

.fm-header__title{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    margin: 0;
    text-transform: none;
    margin-right: 30px;
}

.fm-header__close{    
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    transition: background .3s ease;
}

.fm-header__close:hover{    
    background: #e3e3e3;
}

.fm-header__close:active{    
    background: #d6d6d6;;
}

.drop-area{    
    border-width: 2px;
    border-style: dashed;
    border-color: #207ab7;    
}

.drop-area-droped{
    border-style: solid;
    border-color: #185d8c;
}

.drop-area #upload_files{
    display: none;
}

.fm-drag-drop{    
    box-sizing: border-box;
    padding: 15px;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;

}

.fm-actions{    
    padding: 10px 0;
    column-gap: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #ccc;
}

/* PREVIEWS */

.fm-previews{
    display: flex;
    padding: 5px 0;
    margin: 5px 0;
    gap:5px;
    flex-wrap: wrap;
    overflow: auto;
}

.fm-preview{
    padding: 2px;
    border-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    position: relative;    
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);    
    background: #ffffff;    
    width: 115px;
    box-sizing: unset;
    transition: border-color .3s ease-in-out;
}

.fm-selected{
    border-color: #207ab7;
}

.fm-preview-uploadimage{
    width: 115px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fm-preview__image{
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.fm-preview__title{
    font-size: 0.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

.fm-preview__status{    
    height: 0.25rem;
    display: block;    
    overflow: hidden;
    position: absolute;    
    left:0;
    right: 0;
    top: 0;
}
.fm-preview__status::before{
    content: '';
    display: block;
    background-color: #373b3d;
    height: 0.25rem;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transform-origin: left;
    transform-origin: left;
    width: 100%;
    animation: loading 2.1s linear infinite;
    transform: translateX(0) scaleX(0);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.fm-preview__status.fm-success,.fm-preview__status.fm-error{
    background: #fff;
    border-radius: 0 0 0 50%;
    width: 24px;
    height: 24px;
    left: initial;
    right: 0;
    overflow:initial;
}

.fm-preview__status.fm-success::before, .fm-preview__status.fm-error::before {
    animation: none;
    background-size: contain;
    background-color: inherit;
    width: 16px;
    height: 16px;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}


.fm-preview__status.fm-success::before{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50;' xml:space='preserve'%3E%3Ccircle style='fill:%2325AE88;' cx='25' cy='25' r='25'/%3E%3Cpolyline style='fill:none;stroke:%23FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;' points='38,15 22,33 12,25 '/%3E%3C/svg%3E");
}

.fm-preview__status.fm-error::before{
    background-image: url("data:image/svg+xml,%3Csvg height='512pt' viewBox='0 0 512 512' width='512pt' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m256 0c-141.164062 0-256 114.835938-256 256s114.835938 256 256 256 256-114.835938 256-256-114.835938-256-256-256zm0 0' fill='%23f44336'/%3E%3Cpath d='m350.273438 320.105469c8.339843 8.34375 8.339843 21.824219 0 30.167969-4.160157 4.160156-9.621094 6.25-15.085938 6.25-5.460938 0-10.921875-2.089844-15.082031-6.25l-64.105469-64.109376-64.105469 64.109376c-4.160156 4.160156-9.621093 6.25-15.082031 6.25-5.464844 0-10.925781-2.089844-15.085938-6.25-8.339843-8.34375-8.339843-21.824219 0-30.167969l64.109376-64.105469-64.109376-64.105469c-8.339843-8.34375-8.339843-21.824219 0-30.167969 8.34375-8.339843 21.824219-8.339843 30.167969 0l64.105469 64.109376 64.105469-64.109376c8.34375-8.339843 21.824219-8.339843 30.167969 0 8.339843 8.34375 8.339843 21.824219 0 30.167969l-64.109376 64.105469zm0 0' fill='%23fafafa'/%3E%3C/svg%3E");
}

.fm-preview__status.fm-error::after{    
    content: attr(data-fm-error);
    padding: 5px;
    top: calc(5px + 100%);
    font-size: 0.9rem;
    background-color: #f0f0f0;
    color: #222f3e;
    text-align: center;
    position: absolute;
    pointer-events: none;
    transition: opacity .3s ease;
    opacity: 0;
    right: 0;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    min-width: 115px;
    border-radius: 5px;    
    z-index: 1;
}
.fm-preview__status:hover.fm-error::after{    
    opacity: 1;
}


/* BUTTONS  */

.fm-btn{
    background-color: #207ab7;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-color: #207ab7;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 24px;
    margin: 0;
    outline: 0;
    padding: 4px 16px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    white-space: nowrap;
    transition: background .3s ease;
}

.fm-btn:active:not(:disabled) {
    background-color: #185d8c;
    background-image: none;
    border-color: #185d8c;
    box-shadow: none;
    color: #fff;
}

.fm-btn:hover:not(:disabled) {
    background-color: #1c6ca1;
    background-image: none;
    border-color: #1c6ca1;
    box-shadow: none;
    color: #fff;
}

.fm-btn[disabled] {
    background-color: #207ab7;
    background-image: none;
    border-color: #207ab7;
    box-shadow: none;
    color: rgba(255,255,255,.5);
    cursor: not-allowed;
}

.fm-btn.fm-btn-secondary{
    background-color: #f0f0f0;    
    border-color: #f0f0f0;    
    color: #222f3e;
}

.fm-btn.fm-btn-secondary:active:not(:disabled) {
    background-color: #d6d6d6;
    background-image: none;
    border-color: #d6d6d6;
    box-shadow: none;
    color: #222f3e;
}

.fm-btn.fm-btn-secondary:hover:not(:disabled) {
    background-color: #e3e3e3;
    background-image: none;
    border-color: #e3e3e3;
    box-shadow: none;
    color: #222f3e;
}

.fm-btn.fm-btn-secondary[disabled] {
    background-color: #f0f0f0;
    background-image: none;
    border-color: #f0f0f0;
    box-shadow: none;
    color: rgba(34,47,62,.5);
}

/* ANIMATIONS */

@keyframes loading {
0% {
    -webkit-transform: translateX(0) scaleX(0);
            transform: translateX(0) scaleX(0);
}
25% {
    -webkit-transform: translateX(50%) scaleX(0.6);
            transform: translateX(50%) scaleX(0.6);
}
49% {
    -webkit-transform: translateX(110%) scaleX(0);
            transform: translateX(110%) scaleX(0);
}
50% {
    -webkit-transform: translateX(0) scaleX(0);
            transform: translateX(0) scaleX(0);
}
75% {
    -webkit-transform: translateX(0) scaleX(0.6);
            transform: translateX(0) scaleX(0.6);
}
100% {
    -webkit-transform: translateX(110%) scaleX(0);
            transform: translateX(110%) scaleX(0);
}
}
