[not-group]
<div class="container-fill container-comments">Вы не можете оставлять комментарии, пока не авторизуетесь.</div>
[/not-group]
[group]
<div class="container-fill container-comments">
    <div class="title-comments">Добавить комментарий</div>
    <form action="" method="post" class="form-addcomments">        
        <textarea name="text" id="text-comment" class="input-text"></textarea>
        <input id="addcomment" class="btn" type="submit" value="Отправить" name="addcomment">
    </form>
</div>
[/group]