<!DOCTYPE html>
<html lang="ru">
<head>    
    {head}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    
    <link rel="stylesheet" href="{TEMPLATE}/css/slider.css">
    
    <link rel="stylesheet" href="{TEMPLATE}/css/opener.css">    
    <script src="{TEMPLATE}/js/opener.js"></script>  

    <link rel="stylesheet" href="{TEMPLATE}/css/scrollTop.css">    
    <script src="{TEMPLATE}/js/scrollTop.js"></script>  
    
    <link rel="stylesheet" href="{TEMPLATE}/css/nice-select.css">    
    <script src="{TEMPLATE}/js/jquery.nice-select.js"></script>  

    <script src="{TEMPLATE}/js/phoneinput.js"></script>  
    
    <link rel="stylesheet" href="{TEMPLATE}/css/style.css">
    <script src="{TEMPLATE}/js/default.js"></script>    
</head>
<body>
    <header>
        <div class="container">
            <div class="topmenu">
                <div class="topmenu__left">    
                    <div class="opener">
                        <div class="menu-button">
                            <div class="menu-icon-wrapper" tabindex="0">                                
                                <div class="menu-icon"></div>                                
                            </div>
                        </div>
                        <div class="links links-left">
                            <a href="/" class="topmenu__link">Главная</a>
                            <a href="/news/" class="topmenu__link">Новости</a>                            
                        </div>
                    </div>  
                </div>
                <div class="topmenu__center">
                    <a href="/" class="logo"></a>
                </div>
                <div class="topmenu__right">
                    <a href="/basket/" class="topmenu__link basket__link" title="Корзина">
                        <svg xmlns="http://www.w3.org/2000/svg" height="22px" viewBox="0 0 24 24" width="22px" fill="#000000">
                            <path d="M0 0h24v24H0z" fill="none"/><path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/>
                        </svg>
                        <div class="basket__indicator">{count-basket}</div>                 
                    </a>     
                    {login}
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="alerts">
                {alerts}
            </div>
            [page=main]
            <div class="slider">  
                <script src="{TEMPLATE}/js/slider.js"></script>              
                <div class="slides">
                    <img src="{TEMPLATE}/slides/1.jpg" alt="" class="slide">
                    <img src="{TEMPLATE}/slides/2.jpg" alt="" class="slide">
                    <img src="{TEMPLATE}/slides/3.jpg" alt="" class="slide">
                    <img src="{TEMPLATE}/slides/4.jpg" alt="" class="slide">
                </div>                             
            </div>
            [/page=main]            
            <div class="content">
                {content}
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-line">
            <div class="container">
                &copy;Copyright  2021. Разработка - Самсонов Александр.
            </div>
        </div>
    </footer>
</body>
</html>
