<div class="container-fill">
    <div class="container-header">Корзина</div>
    <div class="container-body">
        <div class="basket-items">
            [basket-item]
            <div class="basket-item">
                <img src="{poster}" alt="{name}" class="basket-item__poster">
                <div class="basket-item__info">
                    <div class="basket-item__name">{name}</div>
                    <div class="basket-item__prace">
                        <span class="prace">{prace} руб.</span>
                    </div>
                </div>
            </div>
            [/basket-item]
        </div>
    </div>
</div>
