<div class="container-fill basket">
    <div class="container-header">
        <span class="category-name">Корзина</span>
        <span class="clear" onclick="clearBasket()">Очистить корзину</span>
    </div>
    <div class="container-body">
        <div class="basket-items">
            [basket-item]
            <div class="basket-item">
                <div class="basket-item__tovar">
                    <img src="{poster}" alt="{name}" class="basket-item__poster">
                    <div class="basket-item__info">
                        <a href="{tovar_link}" class="basket-item__name">{name}</a>
                        <div class="basket-item__price">
                            [not-discount] <span class="price">{price} руб.</span>[/not-discount]
                            [discount] <span class="discount">{discount} руб. <span class="price">{price} руб.</span></span>[/discount]           
                        </div>
                        <div class="controls">
                            <a class="basket-item__control" onclick="removeBasket({id})">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                </svg>
                                <span>Удалить из корзины</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="basket-item__buy">
                    <div class="basket-item__count">
                        <div class="plus-minus" data-value="{count}">
                            <button class="btn btn-red btn-noradius minus">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
                                    <path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 13H5v-2h14v2z"/>
                                </svg>
                            </button>
                            <input type="text" class="plus-minus__feild" maxlength="3">
                            <button class="btn btn-red btn-noradius plus">
                                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
                                    <g><rect fill="none" height="24" width="24"/></g><g><g><path d="M19,13h-6v6h-2v-6H5v-2h6V5h2v6h6V13z"/></g></g>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="basket-item__summ">
                        {cost} руб.
                    </div>
                </div>
            </div>
            [/basket-item]
        </div>
    </div>
</div>
