<div class="doctor-recdoc__item">      
    <img src="{doctor-foto}" alt="" class="doctor-recdoc__item__img">
    <div class="doctor-recdoc__item__content">
        <div class="doctor-recdoc__item__title">{doctor-name}</div>
        <div class="doctor-recdoc__item__text">
            <div><b>Специальность: </b>{doctor-specialty}</div>
            <div><b>Кабинет: </b>{doctor-kabinet}</div>
        </div>
    </div>
    [not-group]<div class="btn btn-recording login-link">Записаться на приём</div>[/not-group]
    [group]<a href="{doctor-link}" class="btn btn-recording">Записаться на приём</a>[/group]
</div>