<div class="container-fill">
    <div class="container-body tovar">
        <img src="{poster}" alt="{name}" class="tovar__poster">
        <div class="tovar__info">
            <div class="tovar__name">{name}</div>
            <div class="tovar__prace">
                [not-discount] <span class="prace">{prace} руб.</span>[/not-discount]
                [discount] <span class="discount">{discount} руб. <span class="prace">{prace} руб.</span></span>[/discount]           
            </div>
            <div class="tovar__buy">
                <div class="btn btn-noradius">Добавить в корзину</div>
            </div>
            <div class="tovar__description">
                <span>Описание</span>
                <p>{description}</p>
            </div>
        </div>
    </div>
</div>
