<div class="container-fill tovars">
    <div class="container-header">
        <span class="category-name">Новинки</span>
        <a href="/new" class="category-show">Показать ещё +</a>
    </div>      
    <div class="container-body">
       <a href="#" class="tovar">
            <img src="/uploads/tovars/1.jpg" alt="" srcset="" class="tovar__poster">
            <div class="tovar__info">
                <div class="tovar__name">Куриное филе “по-кубински”</div>
                <div class="tovar__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, recusandae? Illum ipsa, eveniet facere quia nemo consequatur ipsum temporibus tenetur sequi cumque optio molestias fugiat repellat rem suscipit soluta vitae!</div>
            </div>
            <div class="tovar__buy">
                <div class="tovar__prace">1615 руб.</div>
                <button class="btn">Купить</button>
            </div>
        </a>
            
        <a href="#" class="tovar">
            <img src="/uploads/tovars/1.jpg" alt="" srcset="" class="tovar__poster">
            <div class="tovar__info">
                <div class="tovar__name">Куриное филе “по-кубински”</div>
                <div class="tovar__description">По пдалвы опважпд жпаж вд оав джыв аож пов а о</div>
            </div>
            <div class="tovar__buy">
                <div class="tovar__prace">1615 руб.</div>
                <button class="btn">Купить</button>
            </div>
        </a>        
    </div>     
</div>
<div class="container-fill tovars">
    <div class="container-header">
        <span class="category-name">Новинки</span>
        <a href="/new" class="category-show">Показать ещё +</a>
    </div>      
    <div class="container-body">
       <a href="#" class="tovar">
            <img src="/uploads/tovars/1.jpg" alt="" srcset="" class="tovar__poster">
            <div class="tovar__info">
                <div class="tovar__name">Куриное филе “по-кубински”</div>
                <div class="tovar__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, recusandae? Illum ipsa, eveniet facere quia nemo consequatur ipsum temporibus tenetur sequi cumque optio molestias fugiat repellat rem suscipit soluta vitae!</div>
            </div>
            <div class="tovar__buy">
                <div class="tovar__prace">1615 руб.</div>
                <button class="btn">Купить</button>
            </div>
        </a>
        <a href="#" class="tovar">
            <img src="/uploads/tovars/1.jpg" alt="" srcset="" class="tovar__poster">
            <div class="tovar__info">
                <div class="tovar__name">Куриное филе “по-кубински”</div>
                <div class="tovar__description">По пдалвы опважпд жпаж вд оав джыв аож пов а о</div>
            </div>
            <div class="tovar__buy">
                <div class="tovar__prace">1615 руб.</div>
                <button class="btn">Купить</button>
            </div>
        </a>        
        <a href="#" class="tovar">
            <img src="/uploads/tovars/1.jpg" alt="" srcset="" class="tovar__poster">
            <div class="tovar__info">
                <div class="tovar__name">Куриное филе “по-кубински”</div>
                <div class="tovar__description">По пдалвы опважпд жпаж вд оав джыв аож пов а о</div>
            </div>
            <div class="tovar__buy">
                <div class="tovar__prace">1615 руб.</div>
                <button class="btn">Купить</button>
            </div>
        </a>        
    </div>     
</div>
<div class="container-fill tovars">
    <div class="container-header">
        <span class="category-name">Новинки</span>
        <a href="/new" class="category-show">Показать ещё +</a>
    </div>      
    <div class="container-body">
       <a href="#" class="tovar">
            <img src="/uploads/tovars/1.jpg" alt="" srcset="" class="tovar__poster">
            <div class="tovar__info">
                <div class="tovar__name">Куриное филе “по-кубински”</div>
                <div class="tovar__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, recusandae? Illum ipsa, eveniet facere quia nemo consequatur ipsum temporibus tenetur sequi cumque optio molestias fugiat repellat rem suscipit soluta vitae!</div>
            </div>
            <div class="tovar__buy">
                <div class="tovar__prace">1615 руб.</div>
                <button class="btn">Купить</button>
            </div>
        </a>
        <a href="#" class="tovar">
            <img src="/uploads/tovars/1.jpg" alt="" srcset="" class="tovar__poster">
            <div class="tovar__info">
                <div class="tovar__name">Куриное филе “по-кубински”</div>
                <div class="tovar__description">По пдалвы опважпд жпаж вд оав джыв аож пов а о</div>
            </div>
            <div class="tovar__buy">
                <div class="tovar__prace">1615 руб.</div>
                <button class="btn">Купить</button>
            </div>
        </a>        
        <a href="#" class="tovar">
            <img src="/uploads/tovars/1.jpg" alt="" srcset="" class="tovar__poster">
            <div class="tovar__info">
                <div class="tovar__name">Куриное филе “по-кубински”</div>
                <div class="tovar__description">По пдалвы опважпд жпаж вд оав джыв аож пов а о</div>
            </div>
            <div class="tovar__buy">
                <div class="tovar__prace">1615 руб.</div>
                <button class="btn">Купить</button>
            </div>
        </a>        
    </div>     
</div>
<div class="container-fill tovars">
    <div class="container-header">
        <span class="category-name">Новинки</span>
        <a href="/new" class="category-show">Показать ещё +</a>
    </div>      
    <div class="container-body">
       <a href="#" class="tovar">
            <img src="/uploads/tovars/1.jpg" alt="" srcset="" class="tovar__poster">
            <div class="tovar__info">
                <div class="tovar__name">Куриное филе “по-кубински”</div>
                <div class="tovar__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, recusandae? Illum ipsa, eveniet facere quia nemo consequatur ipsum temporibus tenetur sequi cumque optio molestias fugiat repellat rem suscipit soluta vitae!</div>
            </div>
            <div class="tovar__buy">
                <div class="tovar__prace">1615 руб.</div>
                <button class="btn">Купить</button>
            </div>
        </a>
        <a href="#" class="tovar">
            <img src="/uploads/tovars/1.jpg" alt="" srcset="" class="tovar__poster">
            <div class="tovar__info">
                <div class="tovar__name">Куриное филе “по-кубински”</div>
                <div class="tovar__description">По пдалвы опважпд жпаж вд оав джыв аож пов а о</div>
            </div>
            <div class="tovar__buy">
                <div class="tovar__prace">1615 руб.</div>
                <button class="btn">Купить</button>
            </div>
        </a>        
        <a href="#" class="tovar">
            <img src="/uploads/tovars/1.jpg" alt="" srcset="" class="tovar__poster">
            <div class="tovar__info">
                <div class="tovar__name">Куриное филе “по-кубински”</div>
                <div class="tovar__description">По пдалвы опважпд жпаж вд оав джыв аож пов а о</div>
            </div>
            <div class="tovar__buy">
                <div class="tovar__prace">1615 руб.</div>
                <button class="btn">Купить</button>
            </div>
        </a>        
    </div>     
</div>
