<div class="container-fill tovars">
    <div class="container-header">
        <span class="category-name">Новинки</span>
    </div>      
    <div class="container-body">
       {custom template="shorttovar.html" limit="3" sort="DESC"}
    </div>     
</div>
<div class="container-fill tovars">
    <div class="container-header">
        <span class="category-name">Основные Блюда</span>
        <a href="/category/surdish/" class="category-show">Показать ещё +</a>
    </div>      
    <div class="container-body">
        {custom category="surdish" template="shorttovar.html" limit="4"}     
    </div>     
</div>
<div class="container-fill tovars">
    <div class="container-header">
        <span class="category-name">Салаты и закуски</span>
        <a href="/category/salad/" class="category-show">Показать ещё +</a>
    </div>      
    <div class="container-body">
        {custom category="salad" template="shorttovar.html" limit="4"}     
    </div>     
</div>
<div class="container-fill tovars">
    <div class="container-header">
        <span class="category-name">Десерты</span>
        <a href="/category/desserts/" class="category-show">Показать ещё +</a>
    </div>      
    <div class="container-body">
        {custom category="desserts" template="shorttovar.html" limit="4"}     
    </div>     
</div>
<div class="container-fill tovars">
    <div class="container-header">
        <span class="category-name">Супы и Выпечка</span>
        <a href="/category/soups/" class="category-show">Показать ещё +</a>
    </div>      
    <div class="container-body">
        {custom category="soups" template="shorttovar.html" limit="4"}     
    </div>     
</div>
