[step=1]
<div class="container-fill container-recdoc">
    <div class="container-header">Запись к врачу</div>
    <div class="instruction-recdoc">Для записи к врачу нужно выбрать специальность врача, к которому Вы бы хотели записаться.</div>
    <div class="specialties-recdoc">
        {specialties}         
    </div>
</div>
[/step=1]
[step=2]
<div class="container-fill container-recdoc">
    <div class="container-header">Запись к врачу</div>
    <div class="instruction-recdoc">Выберите нужного Вам врача, для записи на приём.</div>
    <div class="doctors-recdoc">
        {doctors}
    </div>   
</div>
[/step=2]
[step=3]
<div class="container-fill container-recording">
    <div class="container-header">Запись к врачу</div>
    <div class="doctor-recdoc">      
        <img src="{doctor-foto}" alt="" class="doctor-recdoc__img">
        <div class="doctor-recdoc__content">
            <div class="doctor-recdoc__title">{doctor-name}</div>
            <div class="doctor-recdoc__text">
                <div><b>Специальность: </b>{doctor-specialty}</div>
                <div><b>Кабинет: </b>{doctor-kabinet}</div>
            </div>
        </div>            
    </div>        
    <div class="instruction-recdoc center">Выберите дату и время приёма для записи к врачу.</div>
    <form action="" class="form-recording" method="post">
        <div class="form-picker">
            <input type="hidden" name="date" class="daterec"/>
            <input type="hidden" name="time" class="timerec"/>
        </div>
        <input class="btn btn-large" name="rec" type="submit" value="Записаться">     
    </form>     
</div>      
[/step=3]
[step=4]
<div class="container-fill container-recording">
    <div class="container-header">Вы успешно записаны на приём!</div>
    <div class="doctor-recdoc">      
        <img src="{doctor-foto}" alt="" class="doctor-recdoc__img">
        <div class="doctor-recdoc__content">
            <div class="doctor-recdoc__title">{doctor-name}</div>
            <div class="doctor-recdoc__text">
                <div><b>Специальность: </b>{doctor-specialty}</div>
                <div><b>Кабинет: </b>{doctor-kabinet}</div>
                <div><b>Дата и время приёма: </b>{datetime-recdoc}</div>
            </div>
        </div>            
    </div>  
    <div class="success-recdoc">
        <div class="title-success-recdoc center">Ждём Вас!</div>
        <div class="icon-success-recdoc center"></div>
    </div>   
</div>
[/step=4]
