<a href="{tovar-link}" class="short-tovar">
    <img src="{poster}" alt="{name}" srcset="" class="short-tovar__poster">
    <div class="short-tovar__info">
        <div class="short-tovar__name">{name}</div>
        <div class="short-tovar__description">{description}</div>
    </div>
    <div class="short-tovar__buy">
        <div class="short-tovar__price">
            [not-discount] <span class="price">{price} руб.</span>[/not-discount]
            [discount] <span class="discount">{discount} руб. <span class="price">{price} руб.</span></span>[/discount]           
        </div>
        <button class="btn">Купить</button>
    </div>
</a>
