.nice-select {
    display: inline-block;
    border-bottom: 2px solid #aaa;           
    cursor: pointer;
    font-weight: normal;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* min-width: 250px; */
    white-space: nowrap;
    padding: 14px 0 12px 8px;
    background: #fafafa;    
    border: 2px solid #DBDBDB; 
    font-size: 1rem;   
    margin: 0;
    outline: 0;    
    padding: 14px 0 12px 8px;
    text-overflow: ellipsis;    
    border-radius: 7px;
    transition: border-color .3s ease;
    box-shadow: 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #e5e8f1;
}
.nice-select:hover {
    border-color: #FF8300;
}
.nice-select:active,
.nice-select.open,
.nice-select:focus {
    border-color: #FF8300;
}
.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: "";
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    -webkit-transform-origin: 66% 66%;
    -ms-transform-origin: 66% 66%;
    transform-origin: 66% 66%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    width: 5px;
}
.nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.nice-select.open .list {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: scale(1) translateY(0);
    -ms-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
}
.nice-select.disabled {
    border-color: #ededed;
    color: #999;
    pointer-events: none;
}
.nice-select.disabled:after {
    border-color: #cccccc;
}
.nice-select.wide {
    width: 100%;
}
.nice-select.wide .list {
    left: 0 !important;
    right: 0 !important;
}
.nice-select.right .list {
    left: auto;
    right: 0;
}
.nice-select.small {
    font-size: 12px;
    height: 36px;
    line-height: 34px;
}
.nice-select.small:after {
    height: 4px;
    width: 4px;
}
.nice-select.small .option {
    line-height: 34px;
    min-height: 34px;
}

.nice-select> .current{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-width: 100%;
}

.nice-select .list {
    background: #fafafa;
    border-radius: 7px;    
    overflow-y: auto;
    margin-top: 4px;
    opacity: 0;
    padding: 0;    
    pointer-events: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    min-width: 100%;
    box-shadow: 1px 1px 3px 1px #aaa;     
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transform: scale(0.75) translateY(-21px);
    -ms-transform: scale(0.75) translateY(-21px);
    transform: scale(0.75) translateY(-21px);
    -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25),
        opacity 0.15s ease-out;
    transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
    z-index: 9;
}
.nice-select .list:hover .option:not(:hover) {
    background-color: transparent !important;
    color:#000;
}
.nice-select .list.listup {
    top: auto;
    bottom: calc(100% + 5px);
    margin-bottom: 2px;
}
.nice-select .option {
    cursor: pointer;
    color:#000;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #FF8300 !important;
    color:#fff;
}
.nice-select .option.selected {
    font-weight: bold;
    background-color: #FF8300 !important;
    color:#fff;
}
.nice-select .option.disabled {
    background-color: transparent;
    color: #999;
    cursor: default;
}

.no-csspointerevents .nice-select .list {
    display: none;
}

.no-csspointerevents .nice-select.open .list {
    display: block;
}

/* Variables */
:root {
    --scrollbar-size: .4rem;
    --scrollbar-minlength: 1.5rem; /* Minimum length of scrollbar thumb (width of horizontal, height of vertical) */
    --scrollbar-ff-width: thin; /* FF-only accepts auto, thin, none */
    --scrollbar-track-color: transparent;
    --scrollbar-color: #92929277;
    --scrollbar-color-hover: #3a7fff;
    --scrollbar-color-active: #1969FF;
}

/* This class controls what elements have the new fancy scrollbar CSS */
.nice-select .list{
    scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
}
.nice-select .list::-webkit-scrollbar {
    height: var(--scrollbar-size);
    width: var(--scrollbar-size);
}
.nice-select .list::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}
.nice-select .list::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border-radius: 3px;
}
.nice-select .list::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-color-hover);
}
.nice-select .list::-webkit-scrollbar-thumb:active {
    background-color: var(--scrollbar-color-active);
}
.nice-select .list::-webkit-scrollbar-thumb:vertical {
    min-height: var(--scrollbar-minlength);
}
.nice-select .list::-webkit-scrollbar-thumb:horizontal {
    min-width: var(--scrollbar-minlength);
}

@media (max-width: 720px) {    
    .nice-select .list {
        width: 100%;
    }
}
