/* FONTS ============================================ */

@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face{
    font-family: Roboto;
    font-weight: bold;
    src: url(../fonts/Roboto-Bold.ttf);
}

@font-face{
    font-family: Roboto;
    font-style: italic;    
    src: url(../fonts/Roboto-Italic.ttf);
}

/* GLOBAL ======================================== */

*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1100px;
    width: 100%;
    margin:0 auto;
    padding: 15px 0;
}

.container-fill{
    background: #fff;   
    box-shadow: 1px 1px 4px 1px #aaa;         
    margin: 0 auto;   
    margin-bottom: 20px; 
}

.red{
    color:#f00 !important;
}

.yellow{
    color: #ffc400 !important;
}

.green{
    color:#14A76C !important;
}

.black{
    color: #000 !important;
}

/* LINKS */

.link{
    color:#222;
}

.link-btn{
    color:#000;
    text-decoration: none;
}

/* HEADER ======================================= */

header{
    background: #efefef;
    box-shadow: 1px 1px 4px 1px #aaa; 
    position: relative;
    min-height: 60px;
    display: flex;
    align-items: center;    
}

header> .container{
    padding: 0 15px;
}

/* TOPMENU ++++++++++++++++++++++++++++++++++++++ */


.topmenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topmenu__right{
    display: flex;
    align-items: center;
}

.topmenu__link{
    display: inline-block;
    font-weight: bold;
    color:#1969FF;
    text-decoration: none;
    padding: 10px 15px;
    margin: 5px;
    user-select: none;
    transition: background .3s ease;
    border-radius: 5px;
}

.topmenu__link:hover{
    background: #00000010;
}

.logo{    
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #1969FF;
    margin: 0 5px;
}

.to-site{   
    display: flex;
    align-items: center;
    text-decoration: none;
    user-select: none;
    color: #1969FF;    
    text-transform: none;
}

.to-site svg{
    font-size: 20px;
}

.to-site span{
    margin-left: 5px;
}

/* USER PANEL ======================================= */

#user-panel{
    display: flex;
    align-items: center;
    text-transform: none;
}

#user-panel img{
    border-radius: 50%;
    margin-right: 7px;
    width: 30px;
    height: 30px;
    border:1px solid #777;
    background: #fff;
}

#user-panel:focus{
    outline: none;
    background: #00000010;
}

.user-options{    
    display: flex;
    flex-direction: column;
    background: #efefef;
    position: absolute;
    top: calc(100% + 10px);
    right: 0;    
    box-shadow: 1px 1px 4px 1px #777; 
    z-index: 2;
    transition: transform .4s ease;
    transform-origin: center top;
    transform: scaleY(0);
}

.opener.open> .user-options{
    transform: scaleY(1);
}

.user-option{
    margin: 0;
}

/* MAIN ======================================= */

main{
    margin: auto 0;
}

/* PANELS  ++++++++++++++++++++++++++++++++++++++ */

.panel-header, .panel-footer{
    background: #00000010;
    border:1px solid #aaaa;
    padding: 10px 15px;
}

.panel-body{
    padding: 5px 10px;    
}

.panel-footer .btn{
    margin-top: 0;
}

/* LIST ++++++++++++++++++++++++++++++++++++++++++++ */

table.list{
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

table.list th{
    background: #fff;
    border-bottom: 1px solid #aaa;
}

table.list td{
    vertical-align: top;
}

table.list td img{
    max-width: 100%;
}

table.list td p{
    margin-top:0;
}

table.list tr{
    border-bottom: 1px solid #aaa;
}

table.list tr:nth-child(2n+1){
    background: #00000010;
}

table.list tr:hover{
    background: #00000020;
    transition: background .3s ease;
}

table.list th, table.list td{
    padding: 7px;
    text-align: left;    
}

/* LOGINPANEL ++++++++++++++++++++++++++++++++++++++ */

.login-panel{
    margin: 0 auto;
    max-width: 400px;
}

/* BREADCRUMBS ++++++++++++++++++++++++++++++++++++++ */

.title-page{
    font-size: 1.4rem;
    font-weight: bold;
}

.crumbs{
    padding: 10px;
}

.crumbs a{
    color:#000;
}

.crumbs span:not(:first-child)::before{
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
    content: "/";
}

.crumbs span:last-child{
    color:#808080;
}

/* WELCOME ++++++++++++++++++++++++++++++++++++++ */

.title-welcome{
    font-size: 1.1rem;    
}

.body-welcome{
    padding: 10px 0;
}

/* MSG ++++++++++++++++++++++++++++++++++++++++ */

.msg{
    display: flex;
    flex-direction: row;
}

.msg[data-type-msg="success"] .msg-color{
    background: #14A76C;
    width: 10px;
}

.msg[data-type-msg="confirm"] .msg-color{
    background: #ffc400;
    width: 10px;
}

.msg[data-type-msg="error"] .msg-color{
    background: #DC3545;
    width: 10px;
}

.msg .panels{
    width: 100%;
}

.msg .panel-header{
    font-weight: bold;
}

.msg .panel-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 120px;
    text-align: center;
}

.msg .panel-footer{
    display: flex;
    justify-content: center;
}

.msg .panel-footer .btn{
    margin: 0 7%;
}

/* MODULES ++++++++++++++++++++++++++++++++++++++ */

.modules{
    display: flex;
    flex-wrap: wrap;    
}

.module{
    width: 50%;
    color: #000;
    text-decoration: none;
    padding: 7px;
    display: flex;    
    border-bottom: 1px solid #eee;
    transition: background .3s ease;
}

.module:hover{
    background: #77777715;
}

.module__title{    
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.module__img{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    border:3px solid #eee;
    box-shadow: 1px 1px 4px 1px #777; 
    background: #eee;
}

/* ALERTS +++++++++++++++++++++++++++++++++++++++ */

.alert{
    margin-bottom: 25px;
    padding: 20px;
    border-radius: 10px;
    color:#fff;
    box-shadow: 1px 1px 4px 1px #777; 
    transition: opacity .3s ease;
    border:1px solid #00000030;
}

.alert:hover{
    opacity: 0.85;
}

.alert b{
    display: block;
    margin-bottom: 5px;
}

.alert[data-alert-type="success"]{
    background: #5DB759;
}

.alert[data-alert-type="error"]{
    background: #D7544E;
}

/* FOOTER ===================================== */

footer{    
    background: #000;
    color:#fff;    
    margin-top: auto;
}

footer> .container{ 
    padding: 15px;
}

/* OTHER ====================================== */

.dettach-transition{
    transition:none;
}

/* CHECKBOX +++++++++++++++++++++++++++++++++++++++ */

.checkbox {
    position: relative;
    font-size: 1rem;
    display: block;
    padding:0 1.2rem;
}

.check-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.label-check{
    padding-left: .3rem;
}

.check {
    transition: box-shadow 0.5s ease , background 0.5s ease;   
    position: absolute;
    margin-left: -1.2rem;
    width: 1.1rem;
    height: 1.1rem;
    background: #77777725;   
    border:0.1rem solid #1969ff;
    box-sizing: border-box;     
}

.check-input:checked + .check {
    border:0.2rem solid #1969ff;
    background: #1969ff url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' ?%3e%3csvg id='Layer_1' style='enable-background:new 0 0 512 512;' version='1.1' viewBox='0 0 512 512' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cg%3e%3cpolygon class='st0' fill='%23FFF' points='434.8,49 174.2,309.7 76.8,212.3 0,289.2 174.1,463.3 196.6,440.9 196.6,440.9 511.7,125.8 434.8,49 '/%3e%3c/g%3e%3c/svg%3e");       
}

.check-input:focus + .check {    
    box-shadow: 0 0 0 0.05rem #B2DFFC;
} 

.check-input:disabled + .check {
    opacity: 0.7;
} 

/* SWITCH +++++++++++++++++++++++++++++++++++ */

.switch-input {
    display: none;
}
.switch-label {
    position: relative;
    display: inline-block;
    min-width: 112px;
    cursor: pointer;
    font-weight: 500;
    text-align: left;
    margin: 0;
    padding: 16px 0 16px 44px;
}
.switch-label:before,
.switch-label:after {
    content: "";
    position: absolute;
    margin: 0;
    outline: 0;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.switch-label:before {
    left: 1px;
    width: 34px;
    height: 14px;
    background-color: #9e9e9e;
    border-radius: 8px;
}
.switch-label:after {
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #fafafa;
    border-radius: 50%;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14),
        0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}
.switch-input:checked + .switch-label:before {
    background-color: #B2DFFC;
}
.switch-input:checked + .switch-label:after {
    background-color: #1969FF;
    -ms-transform: translate(80%, -50%);
    -webkit-transform: translate(80%, -50%);
    transform: translate(80%, -50%);
}

/* TOOLTIPS +++++++++++++++++++++++++++++++++++++ */

.tooltips{
    position: relative;
}

.tooltips::before{    
    content: attr(data-tooltip);
    padding: 5px;
    top: calc(5px + 100%);
    transform: translateX(-50%);
    font-size: 0.9rem;
    background-color: #f0f0f0;    
    color: #222f3e;
    text-align: center;
    position: absolute;
    pointer-events: none;    
    left: 50%;
    opacity: 0;
    transition: opacity .3s ease;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);  
    border-radius: 5px;   
    z-index: 1;
}
.tooltips:hover.tooltips::before{    
    opacity: 1;
}

/* INPUTS +++++++++++++++++++++++++++++++++++++ */

.form-groups-w20 .form-group{
    display: flex;
    align-items: center;
    padding: 5px 10px;    
}

.form-groups-w20 .form-group>label:nth-child(1){
    display: inline-block;
    font-weight: bold;
    flex:20% 0 1;
    margin-right: 10px;
}

.form-groups-w60 .form-group{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}

.form-groups-w60 .form-group>label:nth-child(1){
    display: inline-block;
    font-weight: bold;
    flex:60% 1 1;
    margin-right: 10px;
}

.form-groups-w60 .switch{
    min-width: 250px;
}

.form-flex-wrap{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    flex:80% 1 0;
}

.form-flex-wrap .form-group{
    margin-top: 20px;
}

.form-control{
    display: block;
    background: none;
    border:0;
    border-bottom: 2px solid #aaa;
    margin: 10px 0;
    padding: 10px;
    font-size: 1rem;
    outline: none;
    transition: border .3s ease ;
    min-width: 250px;
}

.form-control-large{
    width: 100%;
}

.form-control-text-center{
    text-align: center;
}

.form-control:hover{
    border-color: #347AFD;
}

.form-control:focus{
    border-color: #0057fa;
}

.form-control-icon{
    right: auto;
    left: 0;
    width: 16px;
    color: #333333;
    z-index: 3;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
    display: block;
    width: 38px;
    height: 27px;
    line-height: 27px;
    text-align: center;
    font-size: 1.2rem;
    transform: translateY(-50%);
}

.form-group{
    position: relative;
}

.form-group-icon .form-control{
    padding-left: 2.3rem;
}

/* BUTTONS +++++++++++++++++++++++++++++++++++++++++ */
.btn{
    background-color: #1969FF;
    display: inline-block;
    font-size: 1rem;
    color: #fff;    
    border: 0;
    padding: 12px;
    margin-top: 7px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background .3s ease;
    user-select: none;
    box-shadow: 1px 1px 3px 1px #aaa;     
    line-height: 1rem;
    outline: none;
}

.btn-large{
    width: 100%;
}

.btn-inline{
    display: inline-block;    
}

.btn:hover{
    background: #347AFD;
}

.btn:focus , .btn:active{
    background: #0057fa;
}

.btn:disabled{
    opacity: 0.5;
}

.btn-green{
    background-color: #14A76C !important;
}

.btn-green:hover{
    background-color: #1bbd7c !important;
}

.btn-red{
    background-color: #DC3545 !important;
}

.btn-red:hover{
    background-color: #ff5264 !important;
}

/* HAMBURGER MENU ++++++++++++++++++++++++++++++ */

.menu-button{
    display: none;
    padding:0 10px;
}

.menu-icon-wrapper {    
    /*   background: red; */
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-icon-wrapper:focus { 
    outline:none;
}

.menu-icon {
    position: relative;
    width: 24px;
    height: 3px;
    background-color: #1969FF;    
}

.menu-icon::before {
    position: absolute;
    left: 0;
    top: -7px;
    content: "";
    width: 24px;
    height: 3px;
    background-color: #1969FF;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon::after {
    position: absolute;
    left: 0;
    top: 7px;
    content: "";
    width: 24px;
    height: 3px;
    background-color: #1969FF;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.opener.open .menu-icon {
    background-color: transparent;
}

.opener.open .menu-icon::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.opener.open .menu-icon::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.links{
    position: relative;
}

/* USER ICON ++++++++++++++++++++++++++++++++++++++ */

.user-icon {    
    background-color:transparent;
}

.user-icon::before {    
    left: 6px;    
    width: 12px;
    height: 12px;
    border-radius: 50%;    
    top:-9px;
}

.user-icon::after {    
    left: 3px;
    top: 3px;    
    width: 18px;
    height: 8px;
    border-radius: 50% 50% 0 0;
}

.opener.open .user-icon::before,.opener.open .user-icon::after {
    top: 0;
    left: 0;
    border-radius: 0;
    width: 24px;
    height: 3px;
    transition: all 0.1s linear, transform 0.2s ease-in 0.2s;
}

.opener.open .user-icon::before{
    transform: rotate(45deg);
}

.opener.open .user-icon::after {
    transform: rotate(-45deg);    
}

/* WRAPPER ++++++++++++++++++++++++++++++++++++ */

.wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0 10px;
    align-items: center;
}

/* CICLE ++++++++++++++++++++++++++++++++++++ */

.cicle{
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;    
    border:5px solid #eee;
    box-shadow: 1px 1px 4px 1px #777; 
    background: #fff;
}

.nocicle{
    display: block;
    max-height: 150px;
    border-radius: 7px;    
    border:4px solid #eee;
    box-shadow: 1px 1px 4px 1px #777; 
    background: #fff;
}

/* MEDIA QUERY ================================ */
@media (max-width: 720px) {

    /* GLOBAL ************************************ */

    header{
        position: fixed;
        width: 100%;
        z-index: 10;
    }

    main{
        padding-top: 85px;
    }

    /* TOPMENU ********************************* */

    .to-site span{
        display: none;
    }    

    /* LIST ********************************** */

    table.list tr{
        border-bottom: 1px solid #aaa;
    }

    table.list td{
        display: flex;
        width: 100%;
        border-bottom: 0;
    }

    table.list td::before{
        content: attr(data-list-colname);
        display: block;
        flex: 33% 0 0;
        margin-right: 7px;
        font-weight: bold;
    }

    table.list th{
        display: none;
    }

    /* MODULES ********************************** */

    .module{
        width: 100%;
    }

    /* HAMBURGER MENU ***************************** */
    .menu-button{
        display: block;        
    }

    .links-left{
        transform-origin: left center;
        left:0;
    }

    .links-right{
        transform-origin: right center;
        right: 0;
    }    

    .links{
        display: block;        
        position: absolute;
        display: flex;
        flex-direction: column;
        top:100%;
        bottom:0;
        z-index: 1;
        height: calc(100vh - 100%);
        min-width: 200px;
        background-color: #efefef;
        transform: scaleX(0);
        transition: transform .5s ease;        
    }

    .opener.open> .links{
        transform: scaleX(1);
    }   

    /* WRAPPER ++++++++++++++++++++++++++++++++++++ */

    .wrapper{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    /* FORM-GROUPS ********************************* */

    .form-groups-w60 .form-group, .form-groups-w60 .form-group>label:nth-child(1){
        display: block;
    }

    .form-groups-w60 .form-group input:not(.switch),
    .form-groups-w60 .form-group> div{
        width: 100%;
    }

    /* USER PANEL ********************************** */

    #user-panel{
        background: #eeeeee27;;
        border-radius: none;
        margin: 0;
    }

    .user-options{
        position: static;
        margin: 5px;
        box-shadow: none;
        border-radius: none;
        transform: scaleY(1);
    }

    .user-option{
        border-radius: 5px;
    }

}
